<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.staticfile.org/angular.js/1.6.3/angular.min.js"></script>
    <style>
        table, td  {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>
<body>
<script src="https://cdn.staticfile.org/angular.js/1.6.3/angular.min.js"></script>
<style>
    table, td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
</style>
<div ng-app="myApp" ng-controller="customersCtrl">

    <table>
        <!--<tr ng-repeat="x in names">-->
            <!--<td ng-if="$even"> {{ x.flowerLanguage }}</td>-->
            <!--<td ng-if="$even"> {{ x.flowerName }}</td>-->
            <!--<td ng-if="$even"> {{ x.createTime }}</td>-->
            <!--<td ng-if="$even">  {{ x.delete }}</td>-->
        <!--</tr>-->

        <tr>
            <th>id</th>
            <th>图片</th>
            <th>花名</th>
            <th>花语</th>
            <th>时间</th>
            <th>状态</th>
        </tr>
        <tr ng-repeat="x in names">
            <td ng-if="$even">{{ x.id }}</td>
            <td ng-if="$even">{{ x.flowerImg }}</td>
            <td ng-if="$even">{{ x.flowerName }}</td>
            <td ng-if="$even">{{ x.flowerLanguage }}</td>
            <td ng-if="$even">{{ x.createTime }}</td>
            <td ng-if="$even">{{ x.delete }}</td>
        </tr>

    </table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("http://localhost:17900/flower/flowers?flowerName")
            .then(function (result) {
                $scope.names = result.data.body;
            });
    });
</script>

</body>
</html>