<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../Be_Angular/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../../Be_Angular/vendor/angular/angular.js"></script>
    <script src="../../Be_Angular/js/config.router.js"></script>
</head>
<body  >
<div ng-app="myApp" ng-controller="personCtrl">

    <button ng-click="toggle()">隐藏/显示</button>

    <p ng-hide="myVar">
        名: <input type="text" ng-model="firstName"><br>
        姓名: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}
    </p>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('personCtrl', function($scope, $window) {
        $scope.firstName = "John",
            $scope.lastName = "Doe";
        $scope.myVar = false;
        $scope.toggle = function() {
            $window.location.href = 'addinfo/add_info.html';
        };
    });
</script>

</body>
</html>