<script src="../Be_Angular/js/data/app_calendar.js"></script>
<!--<script src="../Be_Angular/js/data/query_info.js"></script>-->
<!--<script src="../Be_Angular/test/getinfo.js"></script>-->
<div ng-controller="FullcalendarCtrl">
    <div class="wrapper-md bg-light b-b">
        <button type="button" class="btn btn-default btn-addon pull-right m-t-n-xs" ui-toggle-class="show" target="#aside">
            <i class="fa fa-bars"></i> List
        </button>
        <h1 class="m-n font-thin h3">鲜花信息</h1>
    </div>
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col wrapper-md">
            <div class="clearfix m-b">
                <button type="button" tooltip="Double click on calendar day to create event" class="btn btn-sm btn-primary btn-addon" ng-click="addInfo()">
                    <i class="fa fa-plus"></i>添加
                </button>
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-default" ng-click="today()">当前</button>
                    <div class="btn-group m-l-xs">
                        <button class="btn btn-sm btn-default" ng-click="changeView('agendaDay')">一天</button>
                        <button class="btn btn-sm btn-default" ng-click="changeView('agendaWeek')">一周</button>
                        <button class="btn btn-sm btn-default" ng-click="changeView('month')">一月</button>
                    </div>
                </div>
            </div>
            <div class="wrapper-md">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        鲜花信息列表
                    </div>
                    <div class="panel-body b-b b-light">
                        检索: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
                    </div>
                    <div>
                        <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="5">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th data-toggle="true">图片</th>
                                <th>花名</th>
                                <th data-hide="phone,tablet">花语</th>
                                <th data-hide="phone,tablet" data-name="Date Of Birth">时间</th>
                                <th data-hide="phone">状态</th>
                                <th data-hide="phone">操作</th>
                            </tr>
                            </thead>
                            <tbody class="flowerInfo" ng-controller="myCtrl">
                                <!--<tr ng-repeat="info in infos" ng-controller="getInfoCon">-->
                                    <!--<td>{{info.id}}</td>-->
                                    <!--<td>{{info.id}}</td>-->
                                    <!--<td>{{info.id}}</td>-->
                                    <!--<td>{{info.id}}</td>-->
                                    <!--<td>{{info.id}}</td>-->
                                    <!--<td>{{info.id}}</td>-->
                                    <!--<td><button type="button" class="btn btn-sm btn-primary " ><i></i>查看</button></td>-->
                                <!--</tr>-->

                            </tbody>




                            <!--<div ng-show="myModel.isShow">-->
                                <!--<div id="myModal" class="modal" style="display: block;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
                                    <!--<div class="modal-header">-->
                                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                                        <!--<h3 id="myModalLabel"><span ng-bind="myModel.title"></span></h3>-->
                                    <!--</div>-->
                                    <!--<div class="modal-body">-->
                                        <!--<p ng-repeat="list in myModel.data"><span ng-bind="list.name"></span></p>-->
                                    <!--</div>-->
                                    <!--<div class="modal-footer">-->
                                        <!--<button class="btn" ng-click="myModel.hide()">关闭</button>-->
                                        <!--<button class="btn btn-primary">Save changes</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="modal-backdrop fade in"></div>-->
                            <!--</div>-->

                            <!--<script>-->
                                <!--angular.module("myApp",[]).controller("myCtrl",['$scope',function($scope){-->

                                    <!--$scope.myModel={-->
                                        <!--isShow:false,-->
                                        <!--title: '编辑课程',-->
                                        <!--width:100,-->
                                        <!--height:100,-->
                                        <!--data:{},-->
                                        <!--show:function () {-->
                                            <!--this.isShow=true;-->
                                        <!--},-->
                                        <!--hide:function () {-->
                                            <!--this.isShow=false;-->
                                        <!--}-->
                                    <!--}-->
                                    <!--$scope.myModel.data=[{'name':'111111'},{"name":'123'}]-->
                                <!--}])-->
                            <!--</script>-->


                            <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="7" class="text-center">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>