<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../assets/layui/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-page-header">
        <div class="pagewrap">
                <span class="layui-breadcrumb">
                  <a href="">首页</a>
                  <a href="">用户</a>
                  <a><cite>商户列表</cite></a>
                </span>
            <h2 class="title">商户列表</h2>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <div class="layui-form layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-form-mid">商户名:</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" autocomplete="off" class="layui-input" id="merchantName">
                            </div>
                            <div class="layui-form-mid">联系电话:</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" autocomplete="off" class="layui-input" id="telephone">
                            </div>
                            <div class="layui-form-mid">身份证号:</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" autocomplete="off" class="layui-input" id="idnumber">
                            </div>
                            <button class="layui-btn layui-btn-blue query">查询</button>
                            <button type="reset" class="layui-btn layui-btn-primary" onclick="nameClean()">重置</button>
                            <button class="layui-btn layui-btn-blue " onclick="withdraw()">添加</button>
                        </div>
                    </div>
                    <table id="demo" lay-filter="demoEvent"> </table>

                    <script type="text/html" id="barDemo">
                        <button class="layui-btn layui-btn-xs withdrawUpdate" id="withdrawUpdate" lay-event="edit" >查看</button>
                    </script>

                    <script type="text/xml" id="switchTpl" >
                        <select name="city" lay-verify="required" id="statusSelect">
                            <option value=""></option>
                            <option value="0">待审核</option>
                            <option value="1">已提取</option>
                            <option value="2">未通过</option>
                        </select>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/layui/layui.all.js"></script>
<script src="../assets/jquery-1.7.1.min.js"></script>
<script>
    var data;
    function withdraw() {
        window.location.href ="add_merchant.html";
    }
    function nameClean() {
        $('#merchantName').val('');
    }
    
    var datagrid;
    layui.use('table', function() {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        datagrid = table.render({
            elem: '#demo'
            ,where:
                {
                    rsid: localStorage.getItem("rsid"),
                    username : $("#username").val()
                }
            , url: 'http://localhost:8119/merchant/merchantList'
            // , url: 'http://47.98.40.106:8119/merchant/merchantList'
            ,parseData: function(res){
                return {
                    "code": res.status,
                    "msg": res.msg,
                    "count": res.count,
                    "data": res.body.item
                };
            }
            , width:1100
            ,dataType:"json"
            , cols: [[
                {field: 'id', title: 'ID',  sort: true}
                , {field: 'merchantName', title: '商户名'}
                , {field: 'bossName', title: '姓名'}
                , {field: 'idnumber', title: '身份证号'}
                , {field: 'telephone', title: '联系电话'}
                , {field: 'businessLicenseNumber', title: '营业执照批号'}
                , {field: 'insertTime', title: '添加时间'}
                , {field: 'delete', title: '是否锁定'}
                , {field: 'level', title: '等级'}
                , {field:'', fixed: 'right', title: '操作', toolbar: '#barDemo'}
            ]]
            ,done: function(res){
                var status = res.code;
                if(status === '10000') {
                    parent.location.href ="../../login.html";
                }

                $("[data-field='delete']").children().each(function () {
                    if ($(this).text() == '0') {
                        $(this).text("解锁")
                    } else if ($(this).text() == '1') {
                        $(this).text("锁定")
                    }
                })
                $("[data-field='level']").children().each(function () {
                    if ($(this).text() == '0') {
                        $(this).text("管理员")
                    } else if ($(this).text() == '1') {
                        $(this).text("普通商户")
                    }
                })
            }
            , skin: 'line' //表格风格
            ,loading:true
            ,even: true
            , page: true //是否显示分页
            ,limits: [5, 7, 10]
            ,limit: 5 //每页默认显示的数量
        });

        table.on('tool(demoEvent)', function(obj){
            data = obj.data;
            sessionStorage.allmessage=JSON.stringify(data);
            var layEvent = obj.event;
            if(layEvent === 'edit') {
                window.location.href = "merchant_info.html?id=" + data.id;
                // var index = layer.open({
                //     type: 2,
                //     title: '查询用户信息',
                //     closeBtn: merchant,
                //     area: ['500px', '500px'],
                //     shadeClose: true,
                //     skin: 'demo layui-layer-rim',
                //     content: 'merchant_info.html'
                // });
            }
        });
    });

    $(".query").on("click",function()
    {
        //刷新表格
        datagrid.reload(
            {
                where:
                    {
                        rsid: localStorage.getItem("rsid"),
                        merchantName: $("#merchantName").val(),
                        telephone: $("#telephone").val(),
                        idnumber: $("#idnumber").val()
                    }
            });
    });
</script>
</body>
</html>